<div id="<%= dom_id event %>">
  <p>
    <strong>Summary:</strong>
    <%= event.summary %>
  </p>

  <p>
    <strong>Google event:</strong>
    <%= event.google_event_id %>
  </p>

  <p>
    <strong>Calendar:</strong>
    <%= event.calendar_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= event.user_id %>
  </p>

</div>
