<h1>Editing event</h1>

<%= form_with model: @event, url: calendar_event_update_path(@calendar_id,@event_id), method: :put, local: true do |form| %> 

  <div>
    <%= form.label :summary, style: "display: block", class: "form-label" %>
    <%= form.text_field :summary, class:"form-control m-2" %>
  </div>
  
  <div class="form-group m-2">
   <%= form.label :start, "Start Date:", calss:"form-label" %>
   <%= form.datetime_select :start, class: "form-control" %>  
 </div>

 <div class="form-group m-2">
   <%= form.label :end, "End Date:", class:"form-label" %>
   <%= form.datetime_select :end, class:"form-control" %> 
 </div>

  <div>
    <%= form.hidden_field :calendar_id %>
  </div>

  <div>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div>
    <%= form.submit "Update", class:"btn btn-primary m-2" %>
  </div>
<% end %>

<br>


