
<div class="col-lg-8 col-md-10 col-sm-11 m-18 shadow">
  <div class="card p-3">
    <div class="card-body">
      <h5 class="card-title"><%= @post.title %></h5>
      <p class="card-text"><%= @post.conntent %></p>
      <div class="d-flex">
        <%= link_to "Edit this post", edit_post_path(@post), class:"btn btn-outline-success m-2" %> 
        <%= link_to "Back to posts", posts_path, class:"btn btn-outline-secondary m-2" %>

        <%= button_to "Destroy this post", @post, method: :delete, class:"btn btn-outline-danger m-2" %>
      </div>
    </div>

    <h3> Comments </h3>
    <div class="">
      <% unless @post.comments == nil %>
        <%= render @post.comments %>
      <% end %>
    </div>
    
    
    <%= render 'comments/form' %>
</div>
</div>

  





